body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FF4500; /* Change color to your desired color */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color:black;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn-signup,
.btn-login {
    display: inline-block;
    background-color:goldenrod;
    color:whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.featured {
    text-align: center;
    padding: 50px 20px;
}

.featured h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.design-card {
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.design-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 50px 20px;
    background-color:white;
}